
.sidebar{
    flex: 1;
    height: calc(100vh - 50px);  
    position: sticky;
    top: 50px;
    overflow-y: auto;
}

.sidebarWrapper{
    padding: 50px;
    color: #555;
}



.sidebarMenu{
    margin-bottom: 50px;
}

.sidebarTitle{
    font-size: 23px;
    color: lightgray;
    margin-bottom: 5px;

}

.sidebarListItem{
   
    padding: 5px;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: #f3eded;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 25px !important;
    /* if not using important then font sixe will not be  effected */
}


.link{
    text-decoration: none;
    color: inherit;
}

/* ********************************************************************************************** */
/* even though the link is applied here if using the same class in topbar it gets applied overe there even though i have just used only the classname and not specified the link class in css */