.list{
    width: 100%;
    margin-top: 10px;

        .listTitle{
            color: white;
            font-size: 20px;
            font-weight: 500;
            margin-left: 50px;
        }

        .wrapper{
            position: relative;
            .sliderArrow{
                width: 50px;
                height: 100%;
                background-color: rgb(22, 22, 22,0.5);
                color: white;
                position: absolute;
                z-index: 99;
                top: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer;
                &.Left{
                    left: 0;
                }

                &.Right{
                    right: 0;
                }
            }
            .container{
                margin-left: 50px;
                display: flex;
                width: max-content;
                // wihtout width max content it will shrink the original width and set inside the container
                // with width max contnet it will retain its original width and height
                margin-top: 10px;
                transform: translate(0px);
                transition: all 0.5s ease-in-out; 
                // bug on moving the animation to the x axis fast in left or right it does not move properly 
                // need to correct this
            }
        }


}